html{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("../slike/bricks.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin: 0;

}
canvas{
    background-color: rgb(247, 244, 156);
    padding-bottom: 2px;
    margin-bottom: 10px;
}
#main{
    width: 700px;
    height: 700px;
    margin: auto;
}
h1{
    margin: auto;
    width: 200px;
    font-size: 40px;
    margin-bottom: 5px;
    color: rgb(247, 244, 156);
}

#info{
    padding-left: 20px;
    float: left;
    margin: auto;
    width: 130px;
}
mark{
    background-color: transparent;
}
p{
    font-size: 18px;
    line-height: 30px;
}
#start{
    margin-right: 10px;
    font-size: 30px;
    width: 110px;
    height: 60px;
}
